<div id="budget-modal-info">
  <div class="info__header">
    <h3 class="info__title"><%= decidim_sanitize(component_name) %></h3>
  </div>

  <%= content_tag(:p, more_information) if more_information %>

  <% unless current_workflow.single? %>
    <p>
      <%= link_to t(:back_to, scope: i18n_scope, component_name: component_name), lausanne_budgets_path %>
    </p>
  <% end %>

  <div class="row">
    <div class="columns medium-8 medium-offset-2">
      <button class="button expanded" data-close>
        <%= t(:continue, scope: i18n_scope) %>
      </button>
    </div>
  </div>
</div>
