@import "social-share-button";

body.lausanne_budget_print {
  background: white;
  color: black;
  padding: 5% 10%;
      font-family: Open Sans, sans-serif;

  h1{
    margin-top: 32px;
    font-size: 120%;
  }
  p, strong {
    font-size: 14px;
  }
  a, button {
    color: var(--primary);
    text-decoration: underline;
  }
  table {
    border-collapse: collapse;
    margin: 1em unset;
    td {
      padding: 0.1em 0.5em;
    }
    tr:nth-child(2n + 1) > td {
      background: #EFEFEF;
    }
    &.personal-data{
      margin-left: auto;
    }
  }

  .first-col{
    min-width: 280px;
  }
  .vote {
    margin-top: 48px;
    width: 99%;
    td {
      padding: 0.5em 1em;
    }
  }
  $size: 38px;

  .social-share-button {
    .ssb-icon {
      background-size: $size $size;
      height: $size;
      width: $size;
    }
  }
  @media (min-width:1025px) { 
    .social-share-button .ssb-icon.ssb-whatsapp_app, .shares .social-share-button .ssb-icon.ssb-whatsapp_app{
      display:none !important;
    }
  }
  .actions {
    margin-top: 64px;
    display: flex;
    gap: 1em;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .shares{
    text-align: center;
    margin-top: 64px;
  }
  @media print {
    .shares, .actions{
      display: none;
    }
  }
}